body {background-color:#EEE; background:url('/img/bg-home.jpg') top no-repeat; background-size:cover;}

.find {margin:120px 0; text-align:center;}
.find h1 {margin-bottom:30px; color:#FFF; text-shadow:0 1px 1px rgba(0,0,0,.5);}