{{#hasActivity}}
  <div id="activity">
    <h3>{{user.first_name}}'s Experience</h3>
    {{#isCrystal}}
    <div id="add-hike">
      <form method="post" action="/activity/post" class="form-inline">
        <input type="text" id="hike-name" name="hike-name" value="" placeholder="Hike Name" />
        <input type="text" id="add-friends" name="add-friends" value="" placeholder="Tag Friends" />
        <button type="submit" class="btn">Add Hike</button>
      </form>
    </div>
    {{/isCrystal}}
    <ul>
      {{#activities}}
      <li class="box">
        <!-- <div class="container"> -->
          <div class="row">
            <div class="span7">
              <p><span class="ss-icon">signpost</span> Hiked <a href="/destination/{{destinationUrl}}">{{destinationName}}</a> <!-- {{prettyDate}} --></a> <span class="prettydate">{{prettyDate}}</span></p>
                {{#hasFriends}}
                <p class="friends">
                  {{#friends}}
                    <a href="/user/{{username}}"><img src="{{profile_img_url}}" width="40" /></a>
                  {{/friends}}
                </p>
              {{/hasFriends}}
            </div>
          </div>
        <!-- </div> -->
      </li>
      {{/activities}}
    <!--   <li class="box expand">
        Show more activity
      </li> -->
    </ul>
  </div>
{{/hasActivity}}