<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />

  <title>{{page.title}}</title>
  
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

  <!-- <link rel="icon" type="image/ico" href="/img/favicon.ico"> -->
  
  {{#css}}
  <link rel="stylesheet" type="text/css" media="all" href="{{href}}" />
  {{/css}}

  <link rel="stylesheet" href="/webfonts/ss-pika/ss-pika.css" />

  <script type="text/javascript" src="//use.typekit.net/ook3exp.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body>

<header>
  <div class="container">
    <div class="row">
      <div class="span8">
        <div id="logo">Sherpa</div>
      </div>
      <div class="span4">
        <div id="user">
          <img src="https://si0.twimg.com/profile_images/2726845198/d459e06c108e537438bb3a5793be7b07_normal.png" width="20" height="20">Well Howdy, alexcoleman!
        </div>
    </div>
  </div>
</header>
