{{> includes/header.html}}

<div class="destination">
  <div class="container">
    <div class="row">
      <div class="span6">
        <h1>{{destination.name}}</h1>
        <h2><a href="/destinations">{{destination.area}}</a></h2>
      </div>
      <div class="span6">
        <div class="quick-stats">
          <div class="container">
            <div class="row">
              <div class="span2">
                <h4>{{destination.length}} mi</h4>
                <p>Trail distance</p>
              </div>
              <div class="span2">
                <h4>{{destination.elevation}} ft</h4>
                <p>Elevation</p>
              </div>
              <div class="span2">
                <h4>{{destination.duration}} hrs</h4>
                <p>Time on trail</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="hikeinfo">
    <div class="row">
      <div class="span6">
        <div class="mapWrapper">
          <div id="map">
            <!-- Map -->
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="suggested-guides">
          <h2>Experienced Guides</h2>
          {{> includes/destination-guides.html}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="hikedescription">
    <div class="row">
      <div class="span12">
        <div class="box description">
          <p>Description</p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="categories">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h3>Suggested Gear <a href="/"></a></h3>
        <div class="container">
          <div class="row">
            {{#products}}
            <div class="span3">
              <div class="category-item">
                <a href="#" class="category-{{index}}">{{category}}</a>
              </div>
            </div>
            {{/products}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="category-products">
  <div class="container">
    {{#products}}
    <div id="category-{{index}}" class="row">
      {{#items}}
      <div class="span3 product">
        <div class="image">
          <a href="http://www.backcountry.com/Store/catalog/productLanding.jsp?productId={{id}}">
            <img src="{{imageLarge.url}}" />
          </a>
        </div>
        <div class="details">
          <p class="brand">{{brandAndDisplayName}}</p>
          <p class="price">${{lowListPrice.amount}}</p>
        </div>
      </div>
      {{/items}}
    </div>
    {{/products}}
  </div>
  <!-- {{> includes/seasonal-gear.html}} -->
</div>
<script>
window.coords = {
  lat: {{destination.loc.lat}},
  lon: {{destination.loc.lon}}
};

</script>
{{> includes/footer.html}}