{{> includes/header.html}}

<div class="destination">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Turtlehead Peak</h1>
        <h2><a href="/locatin/las-vegas">Las Vegas, NV</a></h2>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="hikeinfo">
    <div class="row">
      <div class="span4">
        <div class="map">
          <img src="#" width="460" height="260" />
        </div>
      </div>
      <div class="span8">
        <div class="suggested-guides">
          <p>Suggested Guides</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="meta">
  <div class="container">
    <div class="row">
      <div class="span6">
        <h3>Spot stats</h3>
        <p>Trail distance</p>
        <p>Time on trail</p>
      </div>
      <div class="span6">
        <h3>Suggested Gear</h3>
        <ul>
          <li>Spring</li>
          <li>Summer</li>
          <li>Fall</li>
          <li>Winter</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id='map'></div>
{{> includes/footer.html}}