{{> includes/header.html}}

<div class="cover"></div>

<div class="user-profile">
  <div class="container">
    <div class="row">
      <div class="offset2 span3">
        <h3>Alex Coleman</h3>
      </div>
      <div class="span2">
        <div class="user-info">
          <div class="user-photo">
            <img src="https://si0.twimg.com/profile_images/2726845198/d459e06c108e537438bb3a5793be7b07.png" />
          </div>
        </div>
      </div>
      <div class="span3">
        <h3>Las Vegas, NV</h3>
      </div>
    </div>
  </div>
</div>

<div class="user-experience">
  <div class="container">
    <div class="row">
      <div class="span8">
        <div class="box">
          Hi
        </div>
      </div>
      <div class="span4">
        <div class="box">
          Hi
        </div>
      </div>
    </div>
  </div>
</div>

{{> includes/footer.html}}