{{> includes/header.html}}

<style>
  .cover {background:url('{{user.cover_img_url}}') top no-repeat; background-size:cover;}
</style>

<div class="cover">
  <h2>{{user.name}}</h2>
</div>

<div class="user-profile">
  <div class="container">
    <div class="row">
      <div class="offset5 span2">
        <div class="user-info">
          <div class="user-photo">
            <img src="{{user.profile_img_url}}" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="user-experience">
  <div class="container">
    <div class="row">
      <div class="span9">
        <h3>Recent Activity</h3>
        <div class="box">
          {{> includes/activity.html}}
          {{> includes/reviews.html}}
        </div>
      </div>
      <div class="span3">
        <div class="row">
          <h3>Top Gear</h3>
          {{> includes/suggested-gear.html}}
        </div>
      </div>
    </div>
  </div>
</div>

{{> includes/footer.html}}