{{> includes/header.html}}

<style>
  .cover {background:url('{{user.cover_img_url}}') top no-repeat; background-size:cover;}
</style>

<div class="cover">
  <h2>{{user.first_name}} {{user.last_name}}</h2>
</div>

<div class="user-profile">
  <div class="container">
    <div class="row">
      <div class="offset5 span2">
        <div class="user-info">
          <div class="user-photo">
            <img src="{{user.profile_img_url}}" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="user-stats">
  <div class="container">
    <div class="row">
      {{#stats}}
        <div class="span4">
          <div class="tophike">
            <h4><a href="/destination/{{topHike.nameUrl}}">{{topHike.name}}</a></h4>
            <p>Most hiked trail</p>
          </div>
        </div>
        <div class="span4">
          <div class="totalmiles">
            <h4>{{sumDistance}}</h4>
            <p>Total miles hiked</p>
          </div>
        </div>
        <div class="span4">
          <h4>{{sumElevationGain}}</h4>
          <p>Elevation gained</p>
        </div>
        <div class="span4"></div>
      {{/stats}}
    </div>
  </div>
</div>

<div class="user-experience">
  <div class="container">
    <div class="row">
      <div class="span8">
        <!-- <div class="box"> -->
          {{> includes/activity.html}}
          {{> includes/reviews.html}}
        <!-- </div> -->
      </div>
      <div class="span4">
        <div class="row">
          <div class="span4">
            <h3>Let's Hike</h3>
            <div class="box primary">
              <p><a class="bookHike" href="/book">Book a Hike With Me</a></p>
            </div>
          </div>
        </div>
        {{#hasSuggestedGear}}
        <div class="row">
          <div class="span4">
            <h3 class="favoritegear">Favorite Gear <a href="http://www.backcountry.com">Via Backcountry</a></h3>
          </div>
        </div>
        <div class="row">
          {{> includes/suggested-gear.html}}
        </div>
        {{/hasSuggestedGear}}
      </div>
    </div>
  </div>
</div>

{{> includes/footer.html}}